.content{
    margin: 200px;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3,h4{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.veiculo-container{
    margin: 5% 0 5% 0;
}

.veiculo-container list{
    padding: 10%;
}

.veiculo-list{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.veiculo-list .veiculo-title{
    text-align: center;
    font-size: 36px;
    color: #333;
}

.veiculo-list row{
    border: solid 3px #333;
    border-radius: 5%;
}


.btn-custom{
    width: 96px !important;
}

.desc{
    text-align: left;
    margin:auto;
    width: 50%;
}

.header{
    border: 2px solid ;
    border-color: #0092cc93;
    border-radius: 5px;
    background-color: #cfcfcf50;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 1px;
}
.veiculo-item{
    border: 1px solid;
    border-radius: 5px;
    border-color: #0092cc93;
    margin-bottom: 3px;
    padding: 1px;
}

.veiculo-item-data{
    border-right: 1px solid #0092cc93;
}

.novo-veiculo{
    font-size: 32px !important;
}
