<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<form action="/" method="post">
    <label>login:</label>
    <input type="text" name="usuario" id="usuario" value="{{ usuario }}"/>
    
    <label>senha:</label>
    <input type="password" name="senha" id="senha" value="{{ senha }}"/>
    <input type="submit" value="login"/>
</form>
<div>
    <center>
        {{ mensagem }}
    </center>
</div>
</body>
</html>